In [17]:
# coding=utf-8
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

'''
huml and humw Length and Diameter of Humerus
ulnal and ulnaw Length and Diameter of Ulna
feml and femw Length and Diameter of Femur
tibl and tibw Length and Diameter of Tibiotarsus
tarl and tarw Length and Diameter of Tarsometatarsus

Исследовать основную взаимосвязь между размерами костей и
экологических групп и распознать экологические группы птиц по формам их костей
'''
pass

In [101]:
data = pd.read_csv('bird.csv')
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>huml</th>
      <th>humw</th>
      <th>ulnal</th>
      <th>ulnaw</th>
      <th>feml</th>
      <th>femw</th>
      <th>tibl</th>
      <th>tibw</th>
      <th>tarl</th>
      <th>tarw</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>80.78</td>
      <td>6.68</td>
      <td>72.01</td>
      <td>4.88</td>
      <td>41.81</td>
      <td>3.70</td>
      <td>5.50</td>
      <td>4.03</td>
      <td>38.70</td>
      <td>3.84</td>
      <td>SW</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>88.91</td>
      <td>6.63</td>
      <td>80.53</td>
      <td>5.59</td>
      <td>47.04</td>
      <td>4.30</td>
      <td>80.22</td>
      <td>4.51</td>
      <td>41.50</td>
      <td>4.01</td>
      <td>SW</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>79.97</td>
      <td>6.37</td>
      <td>69.26</td>
      <td>5.28</td>
      <td>43.07</td>
      <td>3.90</td>
      <td>75.35</td>
      <td>4.04</td>
      <td>38.31</td>
      <td>3.34</td>
      <td>SW</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>77.65</td>
      <td>5.70</td>
      <td>65.76</td>
      <td>4.77</td>
      <td>40.04</td>
      <td>3.52</td>
      <td>69.17</td>
      <td>3.40</td>
      <td>35.78</td>
      <td>3.41</td>
      <td>SW</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>62.80</td>
      <td>4.84</td>
      <td>52.09</td>
      <td>3.73</td>
      <td>33.95</td>
      <td>2.72</td>
      <td>56.27</td>
      <td>2.96</td>
      <td>31.88</td>
      <td>3.13</td>
      <td>SW</td>
    </tr>
  </tbody>
</table>
</div>

In [114]:
'Возвращает размерность файла'
pass
data.shape

(420, 12)

In [39]:
'''
Описательная статистика: мат. ожидание, дисперсия, max, min
Исключает значение NaN
'''
pass
data.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>huml</th>
      <th>humw</th>
      <th>ulnal</th>
      <th>ulnaw</th>
      <th>feml</th>
      <th>femw</th>
      <th>tibl</th>
      <th>tibw</th>
      <th>tarl</th>
      <th>tarw</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>420.000000</td>
      <td>419.000000</td>
      <td>419.000000</td>
      <td>417.000000</td>
      <td>418.000000</td>
      <td>418.000000</td>
      <td>419.000000</td>
      <td>418.000000</td>
      <td>419.000000</td>
      <td>419.000000</td>
      <td>419.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>209.500000</td>
      <td>64.650501</td>
      <td>4.370573</td>
      <td>69.115372</td>
      <td>3.597249</td>
      <td>36.872416</td>
      <td>3.220883</td>
      <td>64.662823</td>
      <td>3.182339</td>
      <td>39.229976</td>
      <td>2.930024</td>
    </tr>
    <tr>
      <th>std</th>
      <td>121.387808</td>
      <td>53.834549</td>
      <td>2.854617</td>
      <td>58.784775</td>
      <td>2.186747</td>
      <td>19.979082</td>
      <td>2.023581</td>
      <td>37.838145</td>
      <td>2.080827</td>
      <td>23.184313</td>
      <td>2.185673</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>9.850000</td>
      <td>1.140000</td>
      <td>14.090000</td>
      <td>1.000000</td>
      <td>11.830000</td>
      <td>0.930000</td>
      <td>5.500000</td>
      <td>0.870000</td>
      <td>7.770000</td>
      <td>0.660000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>104.750000</td>
      <td>25.170000</td>
      <td>2.190000</td>
      <td>28.050000</td>
      <td>1.870000</td>
      <td>21.297500</td>
      <td>1.715000</td>
      <td>36.417500</td>
      <td>1.565000</td>
      <td>23.035000</td>
      <td>1.425000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>209.500000</td>
      <td>44.180000</td>
      <td>3.500000</td>
      <td>43.710000</td>
      <td>2.945000</td>
      <td>31.130000</td>
      <td>2.520000</td>
      <td>52.120000</td>
      <td>2.490000</td>
      <td>31.740000</td>
      <td>2.230000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>314.250000</td>
      <td>90.310000</td>
      <td>5.810000</td>
      <td>97.520000</td>
      <td>4.770000</td>
      <td>47.120000</td>
      <td>4.135000</td>
      <td>82.870000</td>
      <td>4.255000</td>
      <td>50.250000</td>
      <td>3.500000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>419.000000</td>
      <td>420.000000</td>
      <td>17.840000</td>
      <td>422.000000</td>
      <td>12.000000</td>
      <td>117.070000</td>
      <td>11.640000</td>
      <td>240.000000</td>
      <td>11.030000</td>
      <td>175.000000</td>
      <td>14.090000</td>
    </tr>
  </tbody>
</table>
</div>

In [119]:
'Диаграмма рассеяния - коррелированность данных'
pd.plotting.scatter_matrix(data)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x00000000241FD048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000034A5A0F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000363CCC88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003649AB00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000364BF8D0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000035FD2C88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000367043C8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036704FD0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000368E70F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000369994A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036A881D0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000000036B85588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036BD8FD0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036D333C8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036DC9EB8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036EEA390>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036F75F98>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000370A2518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036FF67F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000372DC780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000037306C88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000374582B0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x00000000375CC668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000376C0630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000377C39E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000378BD588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000037939A20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000036D33F60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000033449630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000031A3B208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000030923630>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000002ED46470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000002D4D59B0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000000037CC1B00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000037DB9588>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000037EB8A20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000037F58668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003806FBA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000037F8C7B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038268D68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000382ECD30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038425940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000384F7C88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038631CC0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000000038754048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000387E9C18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003890B0F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000389D6CF8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038B05278>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038A18C50>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038CD73C8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038CFE940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038E8F4A8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000038F507F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000390494A8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000003914C7F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000391C0470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000392D4898>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000393CE4E0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000394D0898>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003942C438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000039738B70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000039672B70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000398AECF8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x00000000399F5F28>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000039AECDD8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000000039C0E160>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000039C76BA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000039D7AF60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000039E73AC8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000000039F93048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A01BBA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A14D128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A09FE80>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A347320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A36E860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A543400>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000003A6046A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A6FD2B0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A8015F8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A93B208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003A9FB6A0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003AAB3278>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003ABC85C0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003AADF9E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003AD7F860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003ADE4470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003AF46A90>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000003B04BD30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B143AC8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B246E10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B2FD940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B413C88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B488860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B5ACDA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B695940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B7A6E80>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B6D6DA0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003B97C0B8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000003B9F70B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003BBA8198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003BCAB438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003BDA7048>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003BEA7390>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003BEFCF60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C01E438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C0EDFD0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C21A358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C12F3C8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C3E6588>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000000003C499470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C5F4208>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C6B7390>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C7AB668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C8ADA20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003C9A76D8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003CAA9908>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003CB5F7B8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003CC32B00>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003CB7FFD0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000000003CDEADA0>]], dtype=object)

In [120]:
'Колонки с не численными признаками'
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
print (categorical_columns)

['type']

In [121]:
'Названия столбцов с численными значениями'
numerical_columns = [c for c in data.columns if data[c].dtype.name != 'object']
print(numerical_columns)

['id', 'huml', 'humw', 'ulnal', 'ulnaw', 'feml', 'femw', 'tibl', 'tibw', 'tarl', 'tarw']

In [110]:
'Средние значения'
data.median(axis=0)

id       209.500
huml      44.180
humw       3.500
ulnal     43.710
ulnaw      2.945
feml      31.130
femw       2.520
tibl      52.120
tibw       2.490
tarl      31.740
tarw       2.230
dtype: float64

In [124]:
'Количество значений в столбце, содержащим численные данные'
data[numerical_columns].count(axis = 0)

id       420
huml     420
humw     420
ulnal    420
ulnaw    420
feml     420
femw     420
tibl     420
tibw     420
tarl     420
tarw     420
dtype: int64

In [125]:
'Количество значений в столбце, содержащим категориальные данные'
data[categorical_columns].count(axis = 0)

type    420
dtype: int64

In [126]:
'''
Пропущенных значений нет
'''
pass

In [128]:
data.describe(include=[object])

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>420</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>6</td>
    </tr>
    <tr>
      <th>top</th>
      <td>SO</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>128</td>
    </tr>
  </tbody>
</table>
</div>

In [131]:
'Возвращает уникальные значения объекта'
data['type'].unique

<bound method Series.unique of 0      SW
1      SW
2      SW
3      SW
4      SW
5      SW
6      SW
7      SW
8      SW
9      SW
10     SW
11     SW
12     SW
13     SW
14     SW
15     SW
16     SW
17     SW
18     SW
19     SW
20     SW
21     SW
22     SW
23     SW
24     SW
25     SW
26     SW
27     SW
28     SW
29     SW
       ..
390    SO
391    SO
392    SO
393    SO
394    SO
395    SO
396    SO
397    SO
398    SO
399    SO
400    SO
401    SO
402    SO
403    SO
404    SO
405    SO
406    SO
407    SO
408    SO
409    SO
410    SO
411    SO
412    SO
413    SO
414    SO
415    SO
416    SO
417    SO
418    SO
419    SO
Name: type, Length: 420, dtype: object>

In [136]:
'Не бинарные столбцы в нашем случае равны категориальным'
data_nonbinary = pd.get_dummies(data[categorical_columns])
print(data_nonbinary.columns)

Index([u'type_P', u'type_R', u'type_SO', u'type_SW', u'type_T', u'type_W'], dtype='object')

In [137]:
'Нормализуем наши данные, если они масштабированы'
data_numerical = data[numerical_columns]
data_numerical.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>huml</th>
      <th>humw</th>
      <th>ulnal</th>
      <th>ulnaw</th>
      <th>feml</th>
      <th>femw</th>
      <th>tibl</th>
      <th>tibw</th>
      <th>tarl</th>
      <th>tarw</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
      <td>420.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>209.500000</td>
      <td>64.601762</td>
      <td>4.368500</td>
      <td>68.933905</td>
      <td>3.594143</td>
      <td>36.845071</td>
      <td>3.219214</td>
      <td>64.603095</td>
      <td>3.180690</td>
      <td>39.212143</td>
      <td>2.928357</td>
    </tr>
    <tr>
      <th>std</th>
      <td>121.387808</td>
      <td>53.779546</td>
      <td>2.851524</td>
      <td>58.613103</td>
      <td>2.181985</td>
      <td>19.935272</td>
      <td>2.021455</td>
      <td>37.757629</td>
      <td>2.078617</td>
      <td>23.159515</td>
      <td>2.183330</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>9.850000</td>
      <td>1.140000</td>
      <td>14.090000</td>
      <td>1.000000</td>
      <td>11.830000</td>
      <td>0.930000</td>
      <td>5.500000</td>
      <td>0.870000</td>
      <td>7.770000</td>
      <td>0.660000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>104.750000</td>
      <td>25.205000</td>
      <td>2.190000</td>
      <td>28.132500</td>
      <td>1.870000</td>
      <td>21.332500</td>
      <td>1.717500</td>
      <td>36.472500</td>
      <td>1.567500</td>
      <td>23.042500</td>
      <td>1.427500</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>209.500000</td>
      <td>44.180000</td>
      <td>3.500000</td>
      <td>43.710000</td>
      <td>2.945000</td>
      <td>31.130000</td>
      <td>2.520000</td>
      <td>52.120000</td>
      <td>2.490000</td>
      <td>31.740000</td>
      <td>2.230000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>314.250000</td>
      <td>90.220000</td>
      <td>5.805000</td>
      <td>97.205000</td>
      <td>4.770000</td>
      <td>47.100000</td>
      <td>4.122500</td>
      <td>82.870000</td>
      <td>4.252500</td>
      <td>50.155000</td>
      <td>3.490000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>419.000000</td>
      <td>420.000000</td>
      <td>17.840000</td>
      <td>422.000000</td>
      <td>12.000000</td>
      <td>117.070000</td>
      <td>11.640000</td>
      <td>240.000000</td>
      <td>11.030000</td>
      <td>175.000000</td>
      <td>14.090000</td>
    </tr>
  </tbody>
</table>
</div>

In [138]:
data_numerical = (data_numerical - data_numerical.mean(axis = 0))/data_numerical.std(axis = 0)

In [139]:
data_numerical.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>huml</th>
      <th>humw</th>
      <th>ulnal</th>
      <th>ulnaw</th>
      <th>feml</th>
      <th>femw</th>
      <th>tibl</th>
      <th>tibw</th>
      <th>tarl</th>
      <th>tarw</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
      <td>4.200000e+02</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>6.767074e-17</td>
      <td>5.075305e-16</td>
      <td>-1.218073e-15</td>
      <td>3.721891e-16</td>
      <td>7.105427e-16</td>
      <td>-4.229421e-16</td>
      <td>-8.120488e-16</td>
      <td>6.767074e-17</td>
      <td>-8.120488e-16</td>
      <td>2.097793e-15</td>
      <td>-1.590262e-15</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
    </tr>
    <tr>
      <th>min</th>
      <td>-1.725873e+00</td>
      <td>-1.018078e+00</td>
      <td>-1.132201e+00</td>
      <td>-9.356936e-01</td>
      <td>-1.188891e+00</td>
      <td>-1.254815e+00</td>
      <td>-1.132459e+00</td>
      <td>-1.565329e+00</td>
      <td>-1.111648e+00</td>
      <td>-1.357634e+00</td>
      <td>-1.038944e+00</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>-8.629367e-01</td>
      <td>-7.325603e-01</td>
      <td>-7.639773e-01</td>
      <td>-6.961141e-01</td>
      <td>-7.901716e-01</td>
      <td>-7.781470e-01</td>
      <td>-7.428880e-01</td>
      <td>-7.450308e-01</td>
      <td>-7.760883e-01</td>
      <td>-6.981857e-01</td>
      <td>-6.874165e-01</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.000000e+00</td>
      <td>-3.797310e-01</td>
      <td>-3.045739e-01</td>
      <td>-4.303458e-01</td>
      <td>-2.975010e-01</td>
      <td>-2.866814e-01</td>
      <td>-3.458966e-01</td>
      <td>-3.306112e-01</td>
      <td>-3.322836e-01</td>
      <td>-3.226381e-01</td>
      <td>-3.198587e-01</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>8.629367e-01</td>
      <td>4.763565e-01</td>
      <td>5.037656e-01</td>
      <td>4.823340e-01</td>
      <td>5.388932e-01</td>
      <td>5.144113e-01</td>
      <td>4.468494e-01</td>
      <td>4.837937e-01</td>
      <td>5.156358e-01</td>
      <td>4.724994e-01</td>
      <td>2.572414e-01</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.725873e+00</td>
      <td>6.608428e+00</td>
      <td>4.724315e+00</td>
      <td>6.023672e+00</td>
      <td>3.852389e+00</td>
      <td>4.024271e+00</td>
      <td>4.165706e+00</td>
      <td>4.645337e+00</td>
      <td>3.776217e+00</td>
      <td>5.863156e+00</td>
      <td>5.112210e+00</td>
    </tr>
  </tbody>
</table>
</div>

In [140]:
'Результирующая таблица'
data = pd.concat((data_numerical, data_nonbinary), axis = 1)
print(data.shape)

(420, 17)