In [17]:
# coding=utf-8
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

'''
huml and humw Length and Diameter of Humerus
ulnal and ulnaw Length and Diameter of Ulna
feml and femw Length and Diameter of Femur
tibl and tibw Length and Diameter of Tibiotarsus
tarl and tarw Length and Diameter of Tarsometatarsus

Исследовать основную взаимосвязь между размерами костей и
экологических групп и распознать экологические группы птиц по формам их костей
'''
pass

In [37]:
data = pd.read_csv('bird.csv')
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>huml</th>
      <th>humw</th>
      <th>ulnal</th>
      <th>ulnaw</th>
      <th>feml</th>
      <th>femw</th>
      <th>tibl</th>
      <th>tibw</th>
      <th>tarl</th>
      <th>tarw</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>80.78</td>
      <td>6.68</td>
      <td>72.01</td>
      <td>4.88</td>
      <td>41.81</td>
      <td>3.70</td>
      <td>5.50</td>
      <td>4.03</td>
      <td>38.70</td>
      <td>3.84</td>
      <td>SW</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>88.91</td>
      <td>6.63</td>
      <td>80.53</td>
      <td>5.59</td>
      <td>47.04</td>
      <td>4.30</td>
      <td>80.22</td>
      <td>4.51</td>
      <td>41.50</td>
      <td>4.01</td>
      <td>SW</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>79.97</td>
      <td>6.37</td>
      <td>69.26</td>
      <td>5.28</td>
      <td>43.07</td>
      <td>3.90</td>
      <td>75.35</td>
      <td>4.04</td>
      <td>38.31</td>
      <td>3.34</td>
      <td>SW</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>77.65</td>
      <td>5.70</td>
      <td>65.76</td>
      <td>4.77</td>
      <td>40.04</td>
      <td>3.52</td>
      <td>69.17</td>
      <td>3.40</td>
      <td>35.78</td>
      <td>3.41</td>
      <td>SW</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>62.80</td>
      <td>4.84</td>
      <td>52.09</td>
      <td>3.73</td>
      <td>33.95</td>
      <td>2.72</td>
      <td>56.27</td>
      <td>2.96</td>
      <td>31.88</td>
      <td>3.13</td>
      <td>SW</td>
    </tr>
  </tbody>
</table>
</div>

In [38]:
data.shape

(420, 12)

In [39]:
data.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>huml</th>
      <th>humw</th>
      <th>ulnal</th>
      <th>ulnaw</th>
      <th>feml</th>
      <th>femw</th>
      <th>tibl</th>
      <th>tibw</th>
      <th>tarl</th>
      <th>tarw</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>420.000000</td>
      <td>419.000000</td>
      <td>419.000000</td>
      <td>417.000000</td>
      <td>418.000000</td>
      <td>418.000000</td>
      <td>419.000000</td>
      <td>418.000000</td>
      <td>419.000000</td>
      <td>419.000000</td>
      <td>419.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>209.500000</td>
      <td>64.650501</td>
      <td>4.370573</td>
      <td>69.115372</td>
      <td>3.597249</td>
      <td>36.872416</td>
      <td>3.220883</td>
      <td>64.662823</td>
      <td>3.182339</td>
      <td>39.229976</td>
      <td>2.930024</td>
    </tr>
    <tr>
      <th>std</th>
      <td>121.387808</td>
      <td>53.834549</td>
      <td>2.854617</td>
      <td>58.784775</td>
      <td>2.186747</td>
      <td>19.979082</td>
      <td>2.023581</td>
      <td>37.838145</td>
      <td>2.080827</td>
      <td>23.184313</td>
      <td>2.185673</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>9.850000</td>
      <td>1.140000</td>
      <td>14.090000</td>
      <td>1.000000</td>
      <td>11.830000</td>
      <td>0.930000</td>
      <td>5.500000</td>
      <td>0.870000</td>
      <td>7.770000</td>
      <td>0.660000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>104.750000</td>
      <td>25.170000</td>
      <td>2.190000</td>
      <td>28.050000</td>
      <td>1.870000</td>
      <td>21.297500</td>
      <td>1.715000</td>
      <td>36.417500</td>
      <td>1.565000</td>
      <td>23.035000</td>
      <td>1.425000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>209.500000</td>
      <td>44.180000</td>
      <td>3.500000</td>
      <td>43.710000</td>
      <td>2.945000</td>
      <td>31.130000</td>
      <td>2.520000</td>
      <td>52.120000</td>
      <td>2.490000</td>
      <td>31.740000</td>
      <td>2.230000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>314.250000</td>
      <td>90.310000</td>
      <td>5.810000</td>
      <td>97.520000</td>
      <td>4.770000</td>
      <td>47.120000</td>
      <td>4.135000</td>
      <td>82.870000</td>
      <td>4.255000</td>
      <td>50.250000</td>
      <td>3.500000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>419.000000</td>
      <td>420.000000</td>
      <td>17.840000</td>
      <td>422.000000</td>
      <td>12.000000</td>
      <td>117.070000</td>
      <td>11.640000</td>
      <td>240.000000</td>
      <td>11.030000</td>
      <td>175.000000</td>
      <td>14.090000</td>
    </tr>
  </tbody>
</table>
</div>

In [42]:
pd.plotting.scatter_matrix(data)
pass

In [58]:
data.columns

Index([u'id', u'humw', u'ulnal', u'ulnaw', u'feml', u'femw', u'tibl', u'tibw',
       u'tarl', u'tarw', u'type'],
      dtype='object')